* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.section1 {
    width: 100%;
    height: 100vh;
    background-color: cornflowerblue;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section1 .lista {
    background-color: #fafafa10;
    backdrop-filter: blur(1rem);
    padding: 15px;
    width: 300px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
}

.contenedor-nota {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 7px;
    font-size: 25px;
    color: white;
    transition: 0.3s;
}

.contenedor-nota:hover {
    margin-left: 30px;
    background-color: darkslategray;
}

.btn-eliminar {
    margin-left: auto;
    background-color: darkslategray;
    border: none;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
}


.Reset {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#borrarTodo {
    background-color: darkslategray;
    padding: 6px 30px;
    border: none;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}

#borrarTodo:hover {
    padding: 6px 60px;
}



#editor {
    padding: 10px;
    color: white;
    font-size: 25px;
    width: auto;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    border: none;
    margin: 0 auto;

}

.añadir {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

input:focus {
    outline: none;
}

.section2 {
    width: 100%;
    height: 100vh;
    background-color: #203435;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #a39082;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    border-radius: 7px;

}

#display {
    padding: 10px;
    color: white;
    font-size: 25px;
    width: auto;
    background: #baaea2;
    backdrop-filter: blur(0.4rem);
    border: none;
    margin: 10px;
}

.operador {
    background-color: #658963;
    width: 60px;
    height: 60px;
    margin: 3px;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.digito {
    background-color: #a5ba80;
    width: 60px;
    height: 60px;
    margin: 3px;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.digito:hover {
    background-color: #203435;
    transform: scale(1.1);
}

.digito:active {
    background-color: #a5ba80;
}

.operador:hover {
    background-color: #203435;
    transform: scale(1.1);
}

.operador:active {
    background-color: #658963;
}


#igual {
    width: 128px;
}

.section3 {
    width: 100%;
    height: 100vh;
    background-color: rgb(44, 52, 66);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cajaReloj {
    background-color: rgb(36, 70, 77);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Bebas Neue', sans-serif;
    transition: 0.3s;
}


#fecha {
    font-size: 20px;
    color: white;
}

#reloj {
    color: white;
    font-size: 60px;
    text-align: center;
}

#btnVolverArriba {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 9999;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.041);
    cursor: pointer;
    transition: 0.3s;
}

#btnVolverArriba:hover {
    width: 100px;
    border-radius: 6px;
}

#btnVolverArriba:active {
    background-color: black;
}

.TituloProyecto {
    font-size: 40px;
    color: white;
    margin: 30px 0px 60px;
}