.section4 {
    width: 100%;
    height: 100vh;
    background-color: #515A5A;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3f4141;
    padding: 15px;
}

.longitud {
    font-size: 20px;
    color: white;
    margin: 15px;
}

.numberPassword {
    background: gray;
    color: white;
    padding: 5px;
    border: none;
    width: 80%;
    font-size: 20px;
}

#GeneradorPassword {
    padding: 10px;
    color: white;
    background-color: gray;
    margin: 20px;
    cursor: pointer;
}

.ResultadoPassword {
    color: white;
    font-size: 25px;
    padding: 10px;
    transition: 0.5s;
}

.ResultadoPassword:hover {
    border-radius: 7px;
    background-color: green;
}