body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-image: url(./img/estructura-abstracta-3d-gris-oscuro_3840x2160_xtrafondos.com.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;

}


.añadir {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 5px 40px 5px;
}

.añadidos {
    color: white;
    font-size: 25px;
}

#editor {
    padding: 6px;
    border: solid 2px rgb(58, 57, 57);
    font-size: 15px;
}

main {
    background-color: rgba(121, 120, 119, 0.253);
    display: flex;
    flex-direction: column;
    width: 300px;
    right: 900px;

    padding: 10px;
    margin: 100px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px 2px rgba(0, 0, 0, 0.4);
}

input {
    border: 1px solid black;
    background-color: #f2f2f271;
    border-radius: 10px;
    color: black;
    padding: 5px;
}

input::placeholder {
    color: rgb(12, 11, 11);
    font-size: 15px
}

input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.247);
    border-color: gray;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
}

.borrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eliminar {
    padding: 10px 40px 10px 40px;
    background-color: red;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.backgraund {
    border: solid 2px #333;
}

.color {
    display: table-cell;
    width: 50px;
    height: 50px;
    margin: 0 1px;
    cursor: pointer;
    border: solid 2px #fff;
}

.clr1 {
    background-image: url(./img/estructura-abstracta-3d-gris-oscuro_3840x2160_xtrafondos.com.jpg);
}

.clr2 {
    background-image: url(./img/62af796bc853f.jpeg);
}

.clr3 {
    background-image: url(./img/red-forest-3840x2160-4k-wallpaper-preview.jpg);
}

.clr4 {
    background-image: url(./img/material-dark-background-yellow-minimal-wallpaper-preview.jpg);
}