@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    font-family: 'Archivo Black', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/minimal-4k-fox-illustration-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    height: 100%;
    display: flex;
    flex-direction: row;
}

section.lista {
    width: 300px;
    margin: 100px 100px 20px 100px;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    padding: 15px;
    border-radius: 7px;
}

.añadir {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

input {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 200px;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    border: none;
    border-bottom: #fff;

}

input::placeholder {
    color: white;
    font-family: inherit;

}

input:focus::placeholder {
    color: transparent;
    border: crimson;
}

.lista {
    max-height: 450px;
}


.contenedor-nota {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Alinear los elementos en los extremos */
    color: rgb(250, 247, 247);
    font-size: 25px;
    padding: 5px 10px;
    transition: 0.5s;
}

.contenedor-nota:hover {
    background-color: rgba(97, 96, 96, 0.74);
    border-radius: 7px;
    color: white;
    margin-left: 40px;
}

.btn-eliminar {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 4px 10px;
    margin-left: 10px;
    /* Agregar margen entre el botón y la nota */
    cursor: pointer;
    transition: 0.5s;
}


.Reset {
    display: flex;
    align-items: center;
    justify-content: center;
}

#borrarTodo {
    background-color: red;
    color: white;
    padding: 5px 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

#borrarTodo:hover {
    background-color: rgb(177, 61, 16);
    padding: 5px 60px;
}

.background {
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    margin: 20px;
    padding: 5px;
    border: solid 2px #fafafa10;

}

.color {
    display: table-cell;
    width: 60px;
    height: 60px;
    margin: 0 2px;
    cursor: pointer;
    border: solid 2px #fff;
    transition: 0.3s;
    background-color: white;
}

.color:hover {


    transform: translateY(-15px);
    /* Modifica el valor según la elevación deseada */
    transition: transform 0.5s ease;
    /* Agrega una transición suave para el efecto */

}

.clr1 {
    background-image: url(./img/estructura-abstracta-3d-gris-oscuro_3840x2160_xtrafondos.com.jpg);
}

.clr2 {
    background-image: url(./img/62af796bc853f.jpeg);
}

.clr3 {
    background-image: url(./img/red-forest-3840x2160-4k-wallpaper-preview.jpg);
}

.clr4 {
    background-image: url(./img/material-dark-background-yellow-minimal-wallpaper-preview.jpg);
}

.clr5 {
    background-image: url(./img/minimal-4k-fox-illustration-wallpaper-preview.jpg);
}

.clr6 {
    background-image: url(./img/acampar-en-invierno-lofi_5120x2880_xtrafondos.com.jpg);
}

.clr7 {
    background-image: url(./img/bosque-durante-navidad-arte-digital_3840x2160_xtrafondos.com.jpg);
}